@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.body{
text-align: center;
font-family: "Montserrat", sans-serif;
}
h2{
    color: rgb(255, 255, 255);
}
h3{
    color: rgb(43, 11, 73);
}
.form{
    
    grid-template-columns: 1fr 1fr;
    margin: auto;
    
  }
.txt-primary{
    color:rgb(43, 11, 73);
}
.form_conteiner{
    background-color: rgb(167, 104, 209);;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    display: grid;
    gap: 2em;
}
.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragraph{
    font-weight: 300;
}
.form_link{
    font-weight: 400;
    color: black;
}

.form_group{
    position: relative;
   --color: #fdfcfc;
}
.form_input{
    width: 100%;
    background: none;
    color: #fdfdfd;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Montserrat", sans-serif;
}
.form_input:not(:placeholder-shown){
    color: rgb(253, 253, 253);
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form_submit{
   background-color: #333131;
   color: #fff;
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   font-size: 1rem;
   padding: .8em 0;
   border: none;
   border-radius: .5em;
   cursor: pointer;
}
.form_submit:hover {
    background: #494949;
  }
.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blueviolet;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);

}
.radio{
    display: flex;
  }
.radio input{
    margin:0 5px 0 18px;
}


@media(max-width:425px){
    .form_title{
        font-size: 1.8rem;
    }
    .form{
        grid-template-columns: 1fr;
    }
    .card_login{
        display: none;
    }
    .form_conteiner{
        padding: 50px;
    }
}