<div class="home">
    <div class="card_icon"></div>
    <div class="paragraph">
      <h1 class="title"><span class="txt-primary">They</span>Mobile</h1>
      <br />
      <br />
      <p class="paragraph_home">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod non id,
        earum adipisci culpa beatae fugit nostrum sunt eligendi reiciendis cumque
        obcaecati, odit aspernatur! Porro repellendus ab repudiandae? Tenetur,
        quia!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
        distinctio facilis delectus? Sint, adipisci ipsam quidem, corrupti
        quibusdam deleniti, eius obcaecati eligendi quis placeat unde excepturi
        quisquam accusamus quod voluptatem!
      </p>
      <button class="home_submit">Ver Mas</button>
    </div>
  </div>
  <div class="routing">
    <div class="paragraph2">
      <h1 class="title_routing">
        <span class="txt-primary">Brouser</span>Routing
      </h1>
      <br />
      <br />
      <p class="paragraph_routing">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod non id,
        earum adipisci culpa beatae fugit nostrum sunt eligendi reiciendis cumque
        obcaecati, odit aspernatur! Porro repellendus ab repudiandae? Tenetur,
        quia!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam
        distinctio facilis delectus? Sint, adipisci ipsam quidem, corrupti
        quibusdam deleniti, eius obcaecati eligendi quis placeat unde excepturi
        quisquam accusamus quod voluptatem!
      </p>
    </div>
    <div class="card_routing"></div>
  </div>
  
  <div class="card_shop">
  <mat-card class="cards">
    <div class="card_text">
      <img class="img" src="../../../assets/t1.webp" alt="">
      <br>
    <p>GRAN ESTACION</p>
    
  </div>
  </mat-card>
  <mat-card class="cards">
    <div class="card_text">
      <img class="img" src="../../../assets/t2.png" alt="">
      <br>
    <p>PLAZA CENTRAL</p>
  </div>
  </mat-card>
  <mat-card class="cards2">
    <div class="card_text">
      <img class="img" src="../../../assets/t3.jpg" alt="">
      <br>
    <p>CENTRO MAYOR</p>
  </div>
  </mat-card>
  <mat-card class="cards2">
    <div class="card_text">
      <img class="img" src="../../../assets/t4.webp" alt="">
      <br>
    <p>PLAZA DE LAS AMERICAS</p>
  </div>
  </mat-card>
  
  </div>
  
  
  <div class="card_price">
  
  </div>
  
